<div class="whitepanel" >
  <form #loginForm="ngForm" (ngSubmit)="registerUser()">
    <small class="text-danger">{{errorMessage}}</small>
    <div class="form-group">
      <label for="inputUsername">Username</label>
      <input type="username" class="form-control" id="inputUsername" aria-describedby="usernameHelp"
             placeholder="Enter username" name="username" [(ngModel)]="user.username"
             required #username="ngModel" [class.is-invalid]="username.invalid && username.touched">
      <small id="usernameHelp" class="form-text text-muted">Please enter your username.</small>
    </div>
    <div class="form-group">
      <label for="inputEmail">E-Mail</label>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="usernameHelp"
             placeholder="Enter email" name="email" [(ngModel)]="user.email"
             required #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
      <small id="emailHelp" class="form-text text-muted">Please enter your email.</small>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password"
             [(ngModel)]="user.password" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
    </div>
    <br>
    <div class="form-group to-right">
      <button type="login" class="btn c-green">Create Account!</button>
      <a class="col-md-1"></a>
      <button type="register" class="btn  float-end c-gray" (click)="goToLoginPage()">Go to login</button>
    </div>
  </form>
</div>
