
<div class="whitepanel">
  <button class="btn btn-secondary" (click)="goToLoginPage()">Logout</button>
  <br>

  <div *ngIf="permission == 'admin'">
    <table>
      <th width="400px;">Username</th>
      <th>Delete</th>
      <tr *ngFor="let user of allUsers" style="height:40px;">
        <td style="margin:2px">{{ user.username }}</td>
        <td *ngIf="user.permission == permission">
          <button disabled="user.permission != permission" class="btn btn-secondary" (click)="deleteUser(user.id)">Delete</button>
        </td>
        <td *ngIf="user.permission != permission">
          <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
  <hr/>
  <div>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  </div>
</div>



